.gold-sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.silver-sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.bronze-sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; 
}
