@use "hugo:vars" as h;
$fonts-path : h.$fonts-path;

// Define CSS variables
:root {
  --condensed-font-family: "Oswald", "Impact", "Arial Black", sans-serif, -apple-system, BlinkMacSystemFont, Roboto,
    Ubuntu;
  --rounded-font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto,
    Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --text-color: var(--black);
  --black: #000000;
  --white: #ffffff;
  --crs-blue: #0e98d8;
  --link-color: var(--primary-600);
  --menu-link-color: var(--black);
  --menu-link-color-hover: var(--gray-800);
  --footer-link-color: var(--white);
  --footer-link-color-hover: var(--gray-800);
  --gutter: 25px;
  --container-width: 1200px;
  --content-width: 895px;

  --primary-400: hsl(199, 88%, 45%);
  --primary-600: hsl(0, 0%, 40%);
  --primary-700: hsl(198, 97%, 34%);
  --primary-800: hsl(210, 4%, 30%);

  --gray-200: #eaecf0;
  --gray-300: #e5e5e5;
  --gray-400: #e4e4e4;
  --gray-600: #b1b1b1;
  --gray-700: #767676;
  --gray-800: #5f6367;
}

// Define SCSS variables.
$desktop-width: calc(1200px + 25px + 25px);
$min-desktop: 1000px;
$mobile-max: 999px;
