{{ $siteTitle := site.Title }}
{{ $socialLinks := site.Params.social_links }}
{{ with $socialLinks }}
    {{ $validLinks := slice }}
    {{ range $key, $value := . }}
        {{ if $value }}
            {{ $validLinks = $validLinks | append (dict "key" $key "value" $value) }}
        {{ end }}
    {{ end }}

    {{ if gt (len $validLinks) 0 }}
    <ul class="social-links">
        {{ range $validLinks }}
        <li>
            {{ $network := humanize .key }}
            {{ $i18nKey := printf "social%s" (title .key) }}
            {{ with i18n $i18nKey }}{{ $network = . }}{{ end }}
            {{ $socialLabel := i18n "footerSocialLink" (dict "Network" $network) | default (printf "%s Project on %s" $siteTitle $network) }}
            <a href="{{ .value }}" aria-label="{{ $socialLabel }}" title="{{ $socialLabel }}">
                <img loading="lazy" width="31" height="31" src="{{ printf "img/social-icons/%s.svg" .key | relURL }}" alt="" aria-hidden="true">
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
