<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- partial "head/csp.html" . }}
    {{- partial "head/metadata.html" . }}

    {{ if .Params.noindex }}
    <meta name="robots" content="noindex, nofollow" />
    {{ end }}

    {{- partial "head/preload.html" . }}
    {{- partial "head/css.html" . }}
    {{- partial "head/schema.html" . }}
    {{- partial "head/published-time.html" . }}
    {{- partial "head/favicons.html" . }}
    {{- partial "head/custom-css.html" . }}
    {{- partial "head/custom-head.html" . }}
</head>
