<h2>ModSecurity under OWASP's custodianship</h2>

<div class="columns hero-grid">
    <div class="hero-grid__col1">
    OWASP® Foundation, the leading open community dedicated to application security, is already responsible for the Core Rule Set,
    the dominant WAF rule set on the market. By joining the ModSecurity WAF to their repertoire, OWASP can now steer ModSecurity’s
    development with a holistic view, fostering even tighter integration between the core rule set and the underlying framework.
    </div>
    <div class="hero-grid__col1">
        <img
                width="350"
                src="{{ "images/owasp/logo.png" | relURL }}"
        alt="Rules protecting a safe"
        loading="eager"
        decoding="async"
        />
    </div>
</div>

