{{ define "main" }}
  {{- $crs := $.Site.Params.crs -}}
  <div class="columns hero-grid">
    <div class="hero-grid__col1">
      <h1 class="title">
        {{ i18n "hero1" }}<br /><span class="darker">{{ i18n "hero2" }}</span> {{ i18n "hero3" }}
      </h1>
    </div>
    <div class="hero-grid__col2">
      <img
        width="585"
        height="530"
        src="{{ "images/plugged.png" | relURL }}"
        alt="Rules protecting a safe"
        loading="eager"
        decoding="async"
      />
    </div>
  </div>

  <div class="columns hero-grid">
    <div class="hero-grid__col1">
      <h2 class="subhero">{{ i18n "subhero" }}</h2>

      <p class="shortened-width">{{ i18n "explainerText" | markdownify }}</p>

      {{ with $crs }}
      <a href="{{ printf "%s/v%s" .release_url_prefix .latest_major_version }}" class="button">Get latest: {{ .latest_major_version }}</a>
      {{ end }}
    </div>
    <div class="hero-grid__col1">
      <h2 class="subhero">{{ i18n "promotionHero" }}</h2>

      <p class="shortened-width">{{ i18n "promotionText" | markdownify }}</p>

      {{ with $crs }}
      <a href="/developers/" class="button">Become a part of it!</a>
      {{ end }}
    </div>
  </div>

  {{ partial "owasp.html" . }}

  <h3 class="h4">{{ i18n "sectionTitle" | markdownify }}</h3>

  <div class="cards columns-3 box-grid">
    <div class="card">
      <h2>{{ i18n "sectionTitle1" }}</h2>
      <p>{{ i18n "sectionText1" | markdownify }}</p>
      <a href="{{ printf "%s/v%s" $crs.release_url_prefix $crs.latest_major_version }}" class="button">{{ i18n "sectionButton1" }}</a>
    </div>

    <div class="card">
      <h2>{{ i18n "sectionTitle2" }}</h2>
      <p>{{ i18n "sectionText2" | markdownify }}</p>
      <a href="https://coreruleset.org/docs/concepts/" class="button"
        >{{ i18n "sectionButton2" }}</a
      >
    </div>

    <div class="card">
      <h2>{{ i18n "sectionTitle3" }}</h2>
      <p>{{ i18n "sectionText3" | markdownify }}</p>
      <a href="https://owasp.slack.com/archives/C069PCXSW12" class="button">{{ i18n "sectionButton3" }}</a>
    </div>
  </div>

  {{ partial "latest-news.html" . }}

  {{ partial "sponsors.html" . }}

{{ end }}
